.skills-content {
  padding: 20px;
}
.skills-title {
  font-size: 26px;
  font-weight: 700;
  margin-top: 60px;
  color: #45505b;
}

.skills-img {
  max-width: 150px;
  max-height: 80px;
  margin-right: 25px;
  margin-top: 50px;
}

/*--------------------------------------------------------------
# Sections
--------------------------------------------------------------*/
section {
  padding: 60px 0;
  overflow: hidden;
}

.section-header {
  text-align: center;
  padding-bottom: 40px;
}

.section-header h2 {
  font-size: 26px;
  letter-spacing: 1px;
  font-weight: 700;
  margin: 0;
  text-transform: uppercase;
}

.section-header p {
  margin: 10px 0 0 0;
  padding: 0;
  font-size: 38px;
  line-height: 42px;
  font-weight: 700;
}

@media (max-width: 768px) {
  .section-header p {
    font-size: 28px;
    line-height: 32px;
  }
}

/*--------------------------------------------------------------
# Values
--------------------------------------------------------------*/
.values .box {
  padding: 30px;
  box-shadow: 0px 0 5px rgba(1, 41, 112, 0.08);
  text-align: center;
  transition: 0.3s;
  height: 100%;
}

.values .box img {
  padding: 30px 50px;
  transition: 0.5s;
  transform: scale(1.1);
}

.values .box h3 {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 18px;
}

.values .box:hover {
  box-shadow: 0px 0 30px rgba(1, 41, 112, 0.08);
}

.values .box:hover img {
  transform: scale(1);
}

.img-fluid {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 100%;
  width: 100%;
  min-width: 300px;
}

.img-profile {
  width: 100%;
}

@media (min-width: 992px) {
  .img-profile {
    height: 330px;
    width: 330px;
    margin-left: 65px;
  }
}

@media (max-width: 992px) {
  .img-fluid {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    width: 100%;
    max-width: 330px;
  }
}
